language: php
php:
  - 5.3
  - 5.4

install:
  - git reset --hard
  - git clean -dxf
  - sudo apt-get update > /dev/null
  - sudo apt-get install php5-curl > /dev/null
  - sudo apt-get install php-pear
  - sudo pear channel-discover pear.drush.org && sudo pear install drush/drush
  - sudo drush
  - sudo chown -R $USER:$USER /home/$USER/.drush
before_script:
  - bin/make-install-profile client_xyz xyz_foobar "Web app ABC" "Client XYZ's ABC app enables users to browse a database of records."

script: bin/rebuild
