/* $Id */

/**
 * @file
 *   OpenSourcery custom CSS
 */

/** Resets **/
.item-list ul, .item-list ul li,
.block ul, .block ul li,
li.leaf, 
ul.menu, ul.menu li,
ul.links, ul.links li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

li ul.menu {
  margin-left: 1em;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}
ul.menu li {
  margin: 0.25em 0;
}

body {
  color: #222;
  background: #fff;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

#page {
  font-size: 0.875em;
  line-height: 1.5;
}

#main {
}
#main-inner {
}
#main-liner {
}

#sidebar-right {
}

/** Typography **/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color:#111;
  margin-bottom:0.5em;
  line-height:1;
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size:2em;
}
h3 {
  font-size:1.5em;
}
h4 {
  font-size:1.2em;
}
h5 {
  font-size:1em;
}
h6 {
  font-size:1em;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin:0;
}
p {
  margin:0 0 1.5em;
}
p img.left {
  float:left;
  margin:1.5em 1.5em 1.5em 0;
  padding:0;
}
p img.right {
  float:right;
  margin:1.5em 0 1.5em 1.5em;
}
a:focus, a:hover {
  color: #000;
}
a {
  color: #363636;
  text-decoration:underline;
}
blockquote {
  margin:1.5em;
  color:#666;
  font-style:italic;
}
strong {
  font-weight:bold;
}
em, dfn {
  font-style:italic;
}
dfn {
  font-weight:bold;
}
sup, sub {
  line-height:0;
}
abbr, acronym {
  border-bottom:1px dotted #666;
}
address {
  margin:0 0 1.5em;
  font-style:italic;
}
del {
  color:#666;
}
pre {
  margin:1.5em 0;
  white-space:pre;
}
pre, code, tt {
  font:1em 'andale mono', 'lucida console', monospace;
  line-height:1.5;
}
li ul, li ol {
  margin:0 1.5em;
}
ul, ol {
  margin:0 1.5em 1.5em 1.5em;
}
ul {
  list-style-type:disc;
}
ol {
  list-style-type:decimal;
}
dl {
  margin:0 0 1.5em 0;
}
dl dt {
  font-weight:bold;
}
dd {
  margin-left:1.5em;
}
table {
  margin-bottom:1.4em;
  width:100%;
}
th {
  font-weight:bold;
}
thead th {
  background:#c3d9ff;
}
th, td, caption {
  padding:4px 10px 4px 5px;
}
tr.even td {
  background:#e5ecf9;
}
tfoot {
  font-style:italic;
}
caption {
  background:#eee;
}


/** Comments **/
.comment-inner {
  border-top: solid 3px #646464;
  padding: 0px 0px 30px;
}
.comment .submitted {
  background-color: #a4a4a4;
  color: #fefefe;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.comment .submitted a {
  color: #fefefe;
}
.comment .content {
  padding: 0 20px;
}
.comment .new {
  color: #f00;
  font-weight: bold;
}
#comment-form .form-item label {
  display: inline;
}
ul.links li.comment_forbidden {
  text-align: center;
  display: block;
}