/* $Id: tabs.css 894 2009-12-15 21:52:36Z jhedstrom $ */

/*
 * Tabs CSS
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 *
 */
ul.tabs {
  font-size: 0.9em;
}

ul.tabs li {
  float: left;
  padding-right: 1px;
}

ul.primary {
  line-height: 30px;
}

ul.primary li a {
  text-transform: uppercase;
  color: #333;
  background: #ddd;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

ul.tabs li a,
ul.tabs li a:hover,
ul.tabs li a:focus,
ul.tabs li.active a,
ul.tabs li.active a.active {
  float: left;
  padding: 0px 15px;
}

ul.tabs li a:hover,
ul.tabs li a:focus {
   background: #eee;
}
ul.primary li.active a,
ul.primary li.active a.active {
  background: #fff;
  margin-bottom: -1px;
}

ul.secondary {
  float: none;
  clear: both;
  font-size: 0.9em;
  padding: 5px 5px 4px;
  line-height: 2em;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

ul.secondary li {
  border-right: none;
}
ul.secondary li a {
  color: #05a;
}

ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li a:focus,
ul.secondary li.active a,
ul.secondary li.active a.active {
  padding: 0px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

ul.secondary a.active,
ul.secondary li.active a,
ul.secondary li.active a.active {
  color: #fff;
  background: #666;
  border-bottom: none;
}
