# behat.yml
default:
  extensions:
    Behat\MinkExtension\Extension:
      # Replace `TESTHOST` with the proper gargravarr subdomain.
      base_url: 'http://TESTHOST.opensourcery.com'
    Drupal\DrupalExtension\Extension:
      drupal:
        # For the test host, the below path is the proper
        # structure. For local testing, this is the absolute path to
        # the Drupal root.
        drupal_root: /var/www/TESTHOST/current
