<?php
$databases = array(
  'default' => array(
    'default' => array(
      'database' => 'CHANGEME',
      'username' => 'CHANGEME',
      'password' => 'CHANGEME',
      'host' => 'localhost',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);

// Disable CSS and JS aggregation for development.
$conf['preprocess_css'] = 0;
$conf['preprocess_js'] = 0;

// Disable page caching
$conf['cache'] = 0;

// Maximum error reporting.
$conf['error_level'] = 2;

// Stage File Proxy
$conf['stage_file_proxy_origin'] = 'http://www.example.com';
$conf['stage_file_proxy_use_imagecache_root'] = TRUE;
$conf['stage_file_proxy_origin_dir'] = 'sites/default/files';

// Environment indicator
$conf['environment_indicator_text'] = 'LOCAL DEV';
$conf['environment_indicator_color'] = 'green';

// Views.
$conf['views_ui_show_sql_query'] = 1;

// Context Inline Editor
$conf['context_reaction_block_all_regions'] = 1;
$conf['context_ui_dialog_enabled'] = 1;

// Temporary directory
$conf['file_temporary_path'] = '/tmp';
