<?php
$databases = array(
  'default' => array(
    'default' => array(
      'database' => 'CHANGEME',
      'username' => 'CHANGEME',
      'password' => 'CHANGEME',
      'host' => 'localhost',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);

/**
 * Variables set here override both values in the variable table and those
 * exported via Features/Strongarm. These are for DEVELOPMENT ONLY!
 */
// Disable CSS and JS aggregation for development.
$conf['preprocess_css'] = 0;
$conf['preprocess_js'] = 0;

// Disable page caching
$conf['cache'] = 0;

// Maximum error reporting.
$conf['error_level'] = 2;

// Stage File Proxy
$conf['stage_file_proxy_origin'] = 'http://www.example.com';
$conf['stage_file_proxy_use_imagecache_root'] = TRUE;
$conf['stage_file_proxy_origin_dir'] = 'sites/default/files';

// Disable Core image styles security.
// See http://drupal.stackexchange.com/questions/63226/drupal-7-20-image-styles-return-a-url-with-access-denied
$conf['image_allow_insecure_derivatives'] = TRUE;

// Which Environment
$conf['which_environment'] = array(
  'type' => 'Local Dev',
);

// Views.
$conf['views_ui_show_sql_query'] = 1;
$conf['views_ui_show_master_display'] = 1;
$conf['views_ui_show_advanced_help_warning'] = 1;

// Context Inline Editor
$conf['context_reaction_block_all_regions'] = 1;
$conf['context_ui_dialog_enabled'] = 1;

// Temporary directory
$conf['file_temporary_path'] = '/tmp';
