/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */


.view ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.view ul li {
  list-style: none;
  margin: 0 0 1em 0;
}